// Bulma overrides
$body-size: 20px !default;

// Color system
$blue:       #0057AE;
$light-blue: #34AAE1;
$gray:       #676767;
$gray-30p:   rgba(103, 103, 103, .3);
$gray-10p:   rgba(103, 103, 103, .1);
$gray-5p:    rgba(103, 103, 103, .05);
$red:        #FD7674;
$purple:      #8B67B8;

$primary:   $blue;
$info:      $light-blue;
$danger:    $red;
$warning:   $purple;

// Typography
$font-family-base: "Nexa", Helvetica, Arial, sans-serif;