// Bulma overrides
$body-size: 20px !default;

// Color system
$blue:  #0057AE;
$light-blue:  #34AAE1;
$grey:  #676767;
$grey-03:  rgba(103, 103, 103, .3);
$red:   #FD7674;
$green: #25B486;

$primary:   $blue;
$danger:    $red;
$success:   $green;

// Typography
$font-family-base: "Nexa", Helvetica, Arial, sans-serif;